<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content class="ion-padding">

  <div class="forms">
    <form [formGroup]="form" class="form">
      <div heading-column-lr>
        <div>
          <ion-label>
            <p>*CPF</p>
          </ion-label>
          <ion-item class="inputs">
            <ion-input type="text" formControlName="CPF"></ion-input>
          </ion-item>
          <div *ngIf="form.invalid">
            <div *ngFor="let validation of validationMessages['CPF']">
              <p class="alert" *ngIf="form.get('CPF').touched && form.get('CPF').hasError(validation.type)">
                {{validation.message}}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div heading-column-lr>
        <div>
          <ion-label>
            <p>*Nome</p>
          </ion-label>
          <ion-item class="inputs">
            <ion-input type="text" formControlName="nome"></ion-input>
          </ion-item>
          <div *ngIf="form.invalid">
            <div *ngFor="let validation of validationMessages['nome']">
              <p class="alert" *ngIf="form.get('nome').touched && form.get('nome').hasError(validation.type)">
                {{validation.message}}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div heading-column-lr>
        <div>
          <ion-label>
            <p>*Email</p>
          </ion-label>
          <ion-item class="inputs">
            <ion-input type="text" formControlName="email"></ion-input>
          </ion-item>
          <div *ngIf="form.invalid">
            <div *ngFor="let validation of validationMessages['email']">
              <p class="alert" *ngIf="form.get('email').touched && form.get('email').hasError(validation.type)">
                {{validation.message}}
              </p>
            </div>
          </div>
        </div>
      </div>

      <ion-button expand="block" [disabled]="!form.valid" class="buttonSecondary" (click)="register()">Cadastrar
      </ion-button>

    </form>
  </div>

  <div>
    <ion-card *ngFor="let registros of registers; let i = index">
      <ion-card-content>
        <p>CPF: {{registros?.CPF}}</p>
        <p>Nome: {{registros?.email}}</p>
        <p>Email: {{registros?.nome}}</p>

        <ion-row>
          <ion-col size="6">
            <ion-button color="primary" (click)="update(i, registros)">Alterar</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button color="danger" (click)="delete(registros)">Deletar</ion-button>
          </ion-col>

        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>