.center {

    padding: 20px;
}

ion-content {
    --background: rgb(252, 250, 250) !important;
}

ion-item {
    width: calc(100% - 8px - 8px);
    color: black;
    // font: inherit;
    //   box-shadow: 0 6px 10px 0 rgba(255, 255, 255, 0.1);
    border: 0;
    outline: 0;
    --background: none;
    //   padding: 14px 18px;
    margin: 7px 8px;
    border-radius: 7px;
    border: 1px solid black;
    box-sizing: border-box;
}

.buttonSecondary {
    margin-top: 30px;
}