<ion-header>
  <ion-toolbar>
    <ion-title>Autenticação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-paddig">
  <div class="center">
    <form [formGroup]="form" (submit)="submit()" class="form">
      <div heading-column-lr>
        <div>
          <ion-label>
            <p>*Email</p>
          </ion-label>
          <ion-item lines="none" class="inputs">
            <ion-icon name="person-outline"></ion-icon>
            <ion-input type="text" formControlName="email"></ion-input>
          </ion-item>
          <div *ngIf="form.invalid">
            <div *ngFor="let validation of validationMessages['email']">
              <p class="alert" *ngIf="form.get('email').touched && form.get('email').hasError(validation.type)">
                {{validation.message}}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div heading-column-lr>
        <div>
          <ion-label>
            <p>*Senha</p>
          </ion-label>
          <ion-item lines="none" class="inputs">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <div *ngIf="form.invalid">
            <div *ngFor="let validation of validationMessages['password']">
              <p class="alert" *ngIf="form.get('password').touched && form.get('password').hasError(validation.type)">
                {{validation.message}}
              </p>
            </div>
          </div>
        </div>
      </div>

      <ion-button type="submit" expand="block" [disabled]="!form.valid" class="buttonSecondary">Entrar</ion-button>
      <ion-button  expand="block" class="buttonSecondary" (click)="register()">Cadastro</ion-button>
    </form>
  </div>
</ion-content>